* {
	box-sizing: border-box;
}

html, body {
	font-family: sans-serif;
	font-size: 62.5%;
	height: 100vh;
	margin: 0;
	width: 100vw;
}

nav {
	align-items: center;
	background-color: #161B22;
	border-bottom: solid 1px #30363D;
	display: flex;
	height: 5rem;
	width: 100%;
}

nav img {
	cursor: pointer;
	height: 50%;
	padding: 0 2rem;
}

nav img:last-of-type {
	margin-left: auto;
}

nav a {
	height: 50%;
	padding-right: 2rem;
	width: auto;
}

nav a svg {
	height: 100%;
}

main {
	align-items: center;
	display: flex;
	justify-content: center;
	height: calc(100% - 5rem);
}

h1, h2, h3, p {
	color: white;
	margin: 0;
}

h1 {
	font-size: 3rem;
	padding: 0 1rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

p, a {
	font-size: 1.3rem;
}

nav h1 {
	padding: 0;
}

/* Homepage */

div.home-container {
	align-items: center;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}

div.home-container h2 {
	color: black;
	margin-bottom: 2rem;
}

div.existing-project {
	display: flex;
	justify-content: center;
	max-height: 30rem;
	max-width: 80%;
	padding: 0 1rem;
}

div.saved-project {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

div.saved-project h1,
div.saved-project p {
	color: black;
}

div.saved-project img {
	height: 5rem;
	margin: 1rem;
	width: 5rem;
}

div.saved-project img.delete {
	position: absolute;
	right: 0;
	height: 1.5rem;
	filter: invert(100%);
	top: 0;
	margin: .5rem;
	width: 1.5rem;
}

div.saved-project,
div.existing-project button {
	background-color: rgba(0, 0, 0, .1);
	border: solid 1px black;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.3rem;
	padding: 2rem;
	margin: 2rem;
	width: auto;
}

/* New project options */

div.project-options {
	align-items: center;
	background-color: rgba(0, 0, 0, .1);
	border-radius: 5px;
	display: none;
	flex-direction: column;
	font-size: 1.2rem;
	height: auto;
	justify-content: center;
	padding: 3rem;
	width: auto;
}

div.project-options input,
div.project-options select {
	border: solid 1px transparent;
	margin-bottom: 1rem;
}

div.project-options input.error {
	border: solid 1px red;
}

/* Opened project section */

div.project-container {
	background-color: rgb(225, 225, 225);
	display: none;
	height: 100%;
	overflow-y: auto;
	width: 100%;
}

/* Controls help */

div.project-controls-container {
	background: #0D1117;
	border-right: solid 1px #30363D;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 30rem;
}

div.project-controls-container h3,
div.icons-line,
div.info-line,
div.controls-help p,
div.project-controls-container p {
	margin-bottom: 1rem;
	padding: 0 1rem;
}

div.project-controls-container h3 {
	padding-left: 2rem;
	text-align: left;
}

div.icons-line,
div.info-line {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

div.info-line {
	align-items: flex-start;
	flex-direction: column;
}

div.icons-line.left {
	justify-content: flex-start;
	margin-bottom: .4rem;
}

div.icons-line.right {
	justify-content: flex-end;
	margin-bottom: .4rem;
}

div.icons-line .icon {
	border: solid 1px white;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 1.3rem;
	height: 2rem;
	justify-content: center;
	margin: 0 .2rem;
	width: 2rem;

	transition: background .2s;
}

div.icons-line .icon.clicked {
	background: rgba(255, 255, 255, .3);
}

div.icons-line .icon.no-border {
	border: none;
	border-radius: 0;
	margin: 0 .2rem;
}

div.icons-line .icon.dynamics {
	font-family: serif;
	font-style: italic;
}

div.icons-line .icon.dynamics.right {
	margin-left: auto;
}

div.icons-line .icon.dynamics img {
	padding: .2rem;
}

div.icons-line p {
	margin: 0 1rem;
	padding: 0;
}

div.main-info {
	border-bottom: solid 1px white;
	margin: 2rem;
	margin-top: 0;
	padding: 1rem;
	text-align: center;
}

div.main-info h3 {
	text-align: center;
}

div.main-info p,
div.credits p {
	margin: 0;
}

div.main-info .info-line,
div.main-info .icons-line {
	align-items: center;
	justify-content: center;
}

div.main-info .icons-line {
	margin-bottom: 0;
}

div.credits {
	border-top: solid 1px white;
	margin: 2rem;
	margin-bottom: 0;
	padding: 1rem;
	text-align: center;
}

/* Tab section */

div.tab-container {
	background: white;
	height: 100%;
	overflow-y: auto;
	text-align: center;
	width: calc(100% - 60rem);
}

canvas.tab-canvas {
	height: 356px;
	width: 996px;
}

/* Sections container */

div.project-section-container {
	background: #0D1117;
	border-left: solid 1px #30363D;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30rem;
}

div.section-header {
	border-bottom: solid 1px white;
	height: 12rem;
	margin: 2rem;
  margin-top: 2rem;
	margin-top: 0;
	padding: 1rem;
	text-align: center;
}

div.section-header h3 {
	margin-bottom: 1rem;
	padding: 0 1rem;
}

div.section-list {
	height: calc(100% - 18rem);
	overflow-y: auto;
}

div.section {
	align-items: center;
	color: white;
	display: flex;
	font-size: 1.3rem;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding: 0 1rem;
}

div.section img {
	cursor: pointer;
	height: 2rem;
	padding-left: 2rem;
}

div.playback-control {
	border-top: solid 1px white;
	height: 6rem;
	margin: 2rem;
	margin-bottom: 0;
	padding: 1rem;
	text-align: center;
}

div.playback-control img {
	cursor: pointer;
	height: 2rem;
	margin: .6rem;
	width: 2rem;
}

/* Modal */

.modal-overlay {
	align-items: center;
	background: rgba(0, 0, 0, .8);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.modal {
	background: #0D1117;
	border: solid 1px #30363D;
	border-radius: 5px;
	max-width: 50rem;
	padding: 2rem;
	text-align: center;
	width: auto;
}
